body {
    text-align: center;
    margin-bottom: 0;
    font-family: 'Merriweather', sans-serif;
}

h1 {
    margin-top: 0;
    font-family: 'Reenie Beanie', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: auto;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: auto;
}

.topContainer {
    padding-top: 100px;
    position: relative;
    background-color: #F3F4ED;
}

.middleContainer {

    background-color: #F3F4ED;
}

.bottomContainer {
    background-color: #F3F4ED;
}

.top-cloud {
    position: absolute;
    right: 800px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 800px;
    bottom: 300px;
}